pipeline/statsbomb.json
{
	"name": "statsbomb",
	"properties": {
		"activities": [
			{
				"name": "statsbomb",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://data.statsbombservices.com/api/@{pipeline().parameters.competition_id}/competitions/",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Accept": "application/json"
					},
					"authentication": {
						"type": "Basic",
						"username": "chloe.bailey@tottenhamhotspur.com",
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "statsbomb",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(activity('statsbomb').output.Response)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "competition_id",
								"value": {
									"value": "@item().competition_id",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"competition_id": {
				"type": "String"
			},
			"season_id": {
				"type": "String"
			}
		},
		"variables": {
			"competition_id": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-12T18:36:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}