mydatafactory202313/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mydatafactory202313"
		},
		"Mylink_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Mylink'"
		},
		"Playerstats_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Playerstats'"
		},
		"RestService1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'RestService1'"
		},
		"RestService2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'RestService2'"
		},
		"all_events_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'all_events'"
		},
		"team_stats_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'team_stats'"
		},
		"Playerstats_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://data.statsbombservices.com/api/v4/competitions/@{linkedService().competition_id}/"
		},
		"Playerstats_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "chloe.bailey@tottenhamhotspur.com"
		},
		"RestService1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://data.statsbombservices.com/api/v5/competitions/"
		},
		"RestService1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "chloe.bailey@tottenhamhotspur.com"
		},
		"RestService2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://data.statsbombservices.com/api/v4/matches/@{linkedService().match_id}/player-stats"
		},
		"RestService2_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "chloe.bailey@tottenhamhotspur.com"
		},
		"all_events_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://data.statsbombservices.com/api/v8/events/@{linkedService().match_id}"
		},
		"all_events_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "chloe.bailey@tottenhamhotspur.com"
		},
		"team_stats_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://data.statsbombservices.com/api/v2/competitions/@{linkedService().competition_id}/seasons/"
		},
		"team_stats_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "chloe.bailey@tottenhamhotspur.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/stats_sports')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "statssports",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://statsportsproseries.com/thirdpartyapi/api/thirdPartyData/getFullSession",
							"method": "POST",
							"headers": {
								"api-version": "6",
								"accept": "application/json",
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\"thirdPartyApiId\": \"b5c15906-ccb7-4466-af51-b90f9e9b0b9d\",\"sessionDate\": \"@{utcnow('yyyy-MM-ddThh:mm:ss.999Z')}\"}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/statsbomb')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "statsbomb",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://data.statsbombservices.com/api/@{pipeline().parameters.competition_id}/competitions/",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {
								"Accept": "application/json"
							},
							"authentication": {
								"type": "Basic",
								"username": "chloe.bailey@tottenhamhotspur.com",
								"password": {
									"type": "SecureString",
									"value": "**********"
								}
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "statsbomb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@json(activity('statsbomb').output.Response)",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "competition_id",
										"value": {
											"value": "@item().competition_id",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"competition_id": {
						"type": "String"
					},
					"season_id": {
						"type": "String"
					}
				},
				"variables": {
					"competition_id": {
						"type": "Integer"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-09-12T18:36:33Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mylink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('Mylink_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Playerstats')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"competition_id": {
						"type": "Int"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('Playerstats_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Basic",
					"userName": "[parameters('Playerstats_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Playerstats_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Basic",
					"userName": "[parameters('RestService1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('RestService1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"match_id": {
						"type": "Int"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService2_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Basic",
					"userName": "[parameters('RestService2_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('RestService2_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/all_events')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"match_id": {
						"type": "Int"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('all_events_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('all_events_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('all_events_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/team_stats')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"competition_id": {
						"type": "Int"
					},
					"season_id": {
						"type": "Int"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('team_stats_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('team_stats_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('team_stats_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Mylink",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"match_id": {
						"type": "Int"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@{dataset().match_id}",
							"type": "Expression"
						},
						"folderPath": "all_events",
						"container": "newcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Mylink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Mylink",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"season_id": {
						"type": "Int"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@{dataset().season_id}",
							"type": "Expression"
						},
						"folderPath": "playerstats",
						"container": "newcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Mylink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Playerstats')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Playerstats",
					"type": "LinkedServiceReference",
					"parameters": {
						"competition_id": {
							"value": "@dataset().competition_id",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"season_id": {
						"type": "Int"
					},
					"competition_id": {
						"type": "Int"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "seasons/@{dataset().season_id}/player-stats",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Playerstats')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService2",
					"type": "LinkedServiceReference",
					"parameters": {
						"match_id": {
							"value": "@dataset().match_id",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"match_id": {
						"type": "int"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "all_events",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/all_events')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/all_events')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "all_events",
					"type": "LinkedServiceReference",
					"parameters": {
						"match_id": {
							"value": "@dataset().match_id",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"match_id": {
						"type": "Int"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/all_events')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/input')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Mylink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "victoria_failed_logs.txt",
						"container": "newcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "42023-07-18 05:34:25",
						"type": "String"
					},
					{
						"name": "159 - forecasting_refactored.metrics_processing - INFO - MetricsProcessing::Metrics object created",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Mylink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/output')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Mylink",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"match_id": {
						"type": "int"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().match_id",
							"type": "Expression"
						},
						"folderPath": "player_stats",
						"container": "newcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Mylink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/team_stats')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "team_stats",
					"type": "LinkedServiceReference",
					"parameters": {
						"competition_id": {
							"value": "@dataset().competition_id",
							"type": "Expression"
						},
						"season_id": {
							"value": "@dataset().season_id",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"competition_id": {
						"type": "Int"
					},
					"season_id": {
						"type": "int"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@{dataset().season_id}/team-stats",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/team_stats')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/team_stats1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Mylink",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"season_id": {
						"type": "Int"
					},
					"competition_id": {
						"type": "Int"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@{dataset().season_id}",
							"type": "Expression"
						},
						"folderPath": "team_stats",
						"container": "newcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Mylink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "East US",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						},
						"pipelineExternalComputeScaleProperties": {
							"timeToLive": 60,
							"numberOfPipelineNodes": 1,
							"numberOfExternalNodes": 1
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		}
	]
}